.ProgressItem {
  $root: &;
  $disable: #cecece;
  $active: #420fff;

  &_is-change-available {
    #{$root}__step {
      cursor: pointer;
    }
  }

  &_is-step-active {
    #{$root}__step {
      border-color: $active;
      color: $active;
      cursor: auto;
    }
  }

  &_is-line-active {
    #{$root}__line {
      background-color: $active
    }
  }


  &__container {
    display: flex;
    align-items: center;
  }

  &__step {
    flex-shrink: 0;
    font-weight: 700;
    color: $disable;
    position: relative;
    transition: 0.2s ease-out;
    border: 5px solid $disable;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: not-allowed;
  }

  &__line {
    transition: 0.2s ease-out;
    width: 100%;
    height: 5px;
    background-color: $disable;
  }

  &__title {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 15px;
  }
}